
* {
    box-sizing: border-box;
}
:root {
    --card-color: #f2f4f6;
    --highlight-color: #519e8a;
    --button-color: #141414;
}
body {
  font-family: 'Noto Sans', sans-serif;
}
/* main {
    display: flex;
    flex-direction: column;
    align-items: center;
} */
.bg-light {
    color: var(--card-color);
    border-bottom: 2px solid gray;
}
.poke-ball {
    width: 100px;
    margin-top: 10px;
    margin-bottom: 10px;
}
h1, h2 {
    font-size: medium;
}
.main__div--card {
    max-width: 700px;
    border: 2px solid gray;
    padding: 10px;
    background-color: var(--card-color);
}
.info--card {
    height: 700px;
}
/* header {
    display: flex;
    width: 100%;
    justify-content: space-evenly;
    padding: 20px;
} */
/* .header__img {
    width: 40px;
} */
/* .main__div {
   width: 300px;
} */
/* .poke-button {
    background-color: var(--highlight-color);
    opacity: 0.9;
    color: white;
    border: none;
    padding: 5px;
    margin: 4px 2px;
    display: inline-block;
    text-align: center;
    width: 200px;
} */
/* .poke-button:focus {
    opacity: 1.3;
    margin-left: 15px;

} */
/* ul {
    list-style-type: none;
}
#modal-container {
    display: none;
}
#modal-container.is-visible {
    position: fixed;
    padding: 20px;
    box-sizing: border-box;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.5);
    z-index: 999;
    overflow: auto;
    display: grid;
    text-align: center;
}
.modal {
    margin: auto;
    display: inline-block;
    box-sizing: border-box;/*redundant*/
    /* background-color: #fff;
    padding: 15px;
    width: 100%;
    max-width: 500px;
    text-align: right;
}
.modal-close {
    float: right;
    border: 0;
    background: none;
    color: #777;
}
.modal h1 {
    text-align: center;
    text-decoration: underline;
}
.modal img {
    float: left;
}
.card__img {
    width: 80px;
}
th {
    background-color: var(--highlight-color);
    color: White;
    margin: 10px;
    table-layout: fixed;
    width: 50px;
}
td {
    background-color: white;
    text-align: center;
}
@media all and (max-width: 600px) {
    .main__div {
        grid-template-columns: 1fr;
    }
} */ */
