
* {
    box-sizing: border-box;
}
:root {
    --card-color: #f2f4f6;
    --highlight-color: #519e8a;
    --button-color: #141414;
}
body {
  font-family: 'Noto Sans', sans-serif;
}

.bg-light {
    color: var(--card-color);
    border-bottom: 2px solid gray;
}
.poke-ball {
    width: 100px;
    margin-top: 10px;
    margin-bottom: 10px;
}
h2 {
    font-size: medium;
    font-weight: bold;
}
h1 {
    font-size: large;
}
.card {
    border: 2px solid gray;
    padding: 10px;
    background-color: var(--card-color);
}
.btn {
    opacity: 0.9;
    width: 100%;
}
li {
    margin: 5px;
    text-align: center;
}

